@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Hanken+Grotesk&family=Poppins:wght@300;400;500;600&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h3 {
  color: hsl(0deg 0% 100%);
  font-size: 25px;
}
h2 {
  color: hsl(224, 30%, 27%);
}
.para {
  width: 85%;
}
p {
  font-size: 18px;

  text-align: center;
  color: hsl(241, 100%, 89%);
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  margin: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: hsl(0, 0%, 100%);
  box-shadow: 30px 30px 20px rgb(0 0 0 / 9%);
  width: auto;
  background-color: rgb(255, 255, 255);
  max-width: 740px;
  border-radius: 20px;
}
.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8rem;
  padding: 13px;
  border-radius: 10px;
}
.summary-title {
  display: flex;
  gap: 1.5rem;
}
.blue-container {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-radius: 20px;
  width: 35%;
  flex-wrap: nowrap;
  padding: 30px;
  min-width: 350px;
}
.white-container {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 20px;
}
.around-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Note {
  color: white;
  text-align: center;
  align-self: center;
  font-size: 70px;
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  padding: 100%;
  height: 230px;
}
.Reaction {
  color: hsl(0, 100%, 67%);
}
.Reaction1 {
  background-color: hsl(0deg 100% 67% / 29%);
}
.Memory {
  color: hsl(39, 100%, 56%);
}
.Memory1 {
  background-color: hsl(39deg 100% 56% / 14%);
}
.Verbal {
  color: hsl(166, 100%, 37%);
}
.Verbal1 {
  background-color: hsl(166deg 100% 37% / 15%);
}
.Visual {
  color: hsl(234, 85%, 45%);
}
.Visual1 {
  background-color: hsl(252deg 100% 67% / 18%);
}
button {
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 13px;
  border-radius: 25px;
  cursor: pointer;
}
.Degre {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  font-size: 18px;
}
.degre-left {
  color: hsl(224deg 30% 27% / 55%);
}
@media screen and (max-width: 800px) {
  .main-container {
    max-width: 350px;
  }
}
